/* === HEADER === */

.main-header {
    background: #0a0a0a;
    padding: 15px 0;
    border-bottom: 2px solid #b30000;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-size: 26px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo-text span {
    color: #d40000;
}

.nav-menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #e6e6e6;
    transition: 0.3s;
    font-size: 16px;
}

.nav-menu a:hover {
    color: #ff1a1a;
}

.btn-login, .btn-logout {
    padding: 7px 15px;
    background: #b30000;
    color: white !important;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-login:hover, .btn-logout:hover {
    background: #ff1a1a;
}


/* === FOOTER === */

.main-footer {
    background: #0d0d0d;
    padding: 30px 0;
    margin-top: 50px;
    border-top: 2px solid #222;
}

.footer-content {
    text-align: center;
    color: #aaa;
    font-size: 14px;
    line-height: 1.4;
}

.footer-content p:first-child {
    font-weight: bold;
    color: #e6e6e6;
}
